<!-- about.html -->
<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8'>
<title>About Myself</title>
</head>
<body>
<h2>Andy Wood</h2>
<hr>
<p>
Hi, I am Andy Wood. Nice to meet you!
</p>
<em>今日佳句：{{ quote }}</em>
<hr/>
<a href='/'>回首頁</a>
</body>
</html>