<!-- list.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <title>Hello World!</title>
</head>

<body>
    <h1>Hello World</h1>
    <hr/>
    <a href="/list">二手列表</a><br/>
    <a href="/about">關於我</a><br/>
    <hr/>
    <em>今日佳句：{{ quote }}</em>
</body>

</html>